
.operator_col {
	text-align: center;
}

.operator_col_highligh {
	text-align: center;
	/* font-weight:bold; */
	background-color: #E8E8E8;
}

.highlight {
	/* font-weight:bold; */
	text-align: right;
	background-color: #E8E8E8;
}


td {
	text-align: right;
    padding: 0px;
}


.target {
	text-align: right;
	color: blue;
}

table {
    border-spacing: 0px;
    border-collapse: separate;
}

h1 {
	padding-top: 30;
	padding-bottom: 0;
	margin-bottom: 0;
}

h1 {
	padding-top: 20;
}